/* Essentials */
html,div,map,dt,isindex,form,header,aside,section,section,article,footer
	{
	display: block;
}

html,body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
	background: #F8F8F8;
	font-size: 12px;
}

.clear {
	clear: both;
}

.spacer {
	height: 20px;
}

a:link,a:visited {
	color: #77BACE;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

/* Header */
header#header {
	height: 55px;
	width: 100%;
	background: #222222 url(../images/header_bg.png) repeat-x;
}

header#header h1.site_title,header#header h2.section_title {
	float: left;
	margin: 0;
	font-size: 22px;
	display: block;
	width: 23%;
	height: 55px;
	font-weight: normal;
	text-align: left;
	text-indent: 1.8%;
	line-height: 55px;
	color: #fff;
	text-shadow: 0 -1px 0 #000;
}

header#header h1.site_title a {
	color: #fff;
	text-decoration: none;
}

header#header h2.section_title {
	text-align: center;
	text-indent: 4.5%;
	width: 68%;
	background: url(../images/header_shadow.png) no-repeat left top;
}

/* Secondary Header Bar */
section#secondary_bar {
	height: 38px;
	width: 100%;
	background: #F1F1F4 url(../images/secondary_bar.png) repeat-x;
}

/* Main Content */
section#main {
	width: 90%;
	min-height: 500px;
	background: url(../images/sidebar_shadow.png) repeat-y left top;
	float: left;
	margin-top: -2px;
}

#main h3 {
	color: #1F1F20;
	text-transform: uppercase;
	text-shadow: 0 1px 0 #fff;
	font-size: 13px;
	margin: 8px 20px;
}

/* Modules */
.module {
	border: 1px solid #9BA0AF;
	width: 100%;
	margin: 10px 3% 0 3%;
	margin-top: 20px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #ffffff;
}

#main .module header h3 {
	display: block;
	width: 90%;
	float: left;
}

.module header {
	height: 38px;
	width: 100%;
	background: #F1F1F4 url(../images/secondary_bar.png) repeat-x;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.module footer {
	height: 32px;
	width: 100%;
	border-top: 1px solid #9CA1B0;
	background: #F1F1F4 url(../images/module_footer_bg.png) repeat-x;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
}

.module_content {
	margin: 10px 20px;
	color: #666;
}

/* Module Widths */
.width_full {
	width: 95%;
}

.width_half {
	width: 46%;
	margin-right: 0;
	float: left;
}

.width_quarter {
	width: 26%;
	margin-right: 0;
	float: left;
}

.width_3_quarter {
	width: 66%;
	margin-right: 0;
	float: left;
}

/* Content Manager */
.tab_content {
	width: 100%;
	height: 300px;
}

#tableBasicInfo {
	width: 55%;
	margin-left: 20px;
	float: left;
}

.tablesorter td {
	margin: 0;
	padding: 0;
	border-bottom: 1px dotted #ccc;
}

.tablesorter thead tr {
	height: 34px;
	background: url(../images/table_sorter_header.png) repeat-x;
	text-align: left;
	text-indent: 10px;
	cursor: pointer;
}

.tablesorter td {
	padding: 15px 10px;
}

ul.tabs {
	margin: 3px 10px 0 0;
	padding: 0;
	float: right;
	list-style: none;
	height: 24px; /*--Set height of tabs--*/
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 0 #fff;
	-moz-box-shadow: 0 1px 0 #fff;
	box-shadow: 0 1px 0 #fff;
	border: 1px solid #ccc;
	font-weight: bold;
	text-shadow: 0 1px 0 #fff;
}

ul.tabs li {
	float: left;
	margin: 0;
	padding: 0;
	line-height: 24px;
}

ul.tabs li a {
	text-decoration: none;
	color: #999;
	display: block;
	padding: 0 10px;
	height: 24px;
}

ul.tabs li a:hover {
	color: #44474F;
}

html ul.tabs li.active a {
	color: #44474F;
}

html ul.tabs li.active,html ul.tabs li.active a:hover {
	background: #F1F2F4;
	-webkit-box-shadow: inset 0 2px 3px #818181;
	-moz-box-shadow: inset 0 2px 3px #818181;
	box-shadow: inset 0 2px 3px #818181;
}

html ul.tabs li:first-child,html ul.tabs li:first-child a {
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

html ul.tabs li:last-child,html ul.tabs li:last-child a {
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

#main .module header h3.tabs_involved {
	display: block;
	width: 40%;
	float: left;
}

input[type=button] {
	background: #D0D1D4 url(../images/btn_submit.png) repeat-x;
	border: 1px solid #A8A9A8;
	-webkit-box-shadow: 0 1px 0 #fff;
	-moz-box-shadow: 0 1px 0 #fff;
	box-shadow: 0 1px 0 #fff;
	font-weight: bold;
	height: 22px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 0 10px;
	color: #666;
	text-shadow: 0 1px 0 #fff;
	cursor: pointer;
}

input[type=button]:hover {
	color: #333333;
}

input[type=button].alt_btn {
	background: #D0D1D4 url(../images/btn_submit_2.png) repeat-x;
	border: 1px solid #30B0C8;
	-webkit-box-shadow: 0 1px 0 #fff;
	-moz-box-shadow: 0 1px 0 #fff;
	box-shadow: 0 1px 0 #fff;
	font-weight: bold;
	height: 22px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 0 10px;
	color: #003E49;
	text-shadow: 0 1px 0 #6CDCF9;
	cursor: pointer;
}

input[type=button].alt_btn:hover {
	color: #001217;
}

.message_list {
	height: 250px;
	overflow-x: hidden;
	overflow-y: scroll;
}

fieldset {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #F6F6F6;
	border: 1px solid #ccc;
	padding: 1% 0%;
	margin: 10px 0;
}

fieldset label {
	display: block;
	float: left;
	width: 200px;
	height: 25px;
	line-height: 25px;
	text-shadow: 0 1px 0 #fff;
	font-weight: bold;
	padding-left: 10px;
	margin: -5px 0 5px 0;
	text-transform: uppercase;
}

fieldset input[type=text] {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #BBBBBB;
	height: 20px;
	color: #666666;
	-webkit-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
	-moz-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
	box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
	padding-left: 10px;
	background-position: 10px 6px;
	margin: 0;
	display: block;
	float: left;
	width: 96%;
	margin: 0 10px;
}

fieldset input[type=text]:focus {
	outline: none;
	border: 1px solid #77BACE;
	-webkit-box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
	-moz-box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
	box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
}

fieldset select {
	width: 96%;
	margin: 0 10px;
	border: 1px solid #bbb;
	height: 20px;
	color: #666666;
}

fieldset textarea {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #BBBBBB;
	color: #666666;
	-webkit-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
	-moz-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
	box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
	padding-left: 10px;
	background-position: 10px 6px;
	margin: 0 0.5%;
	display: block;
	float: left;
	width: 96%;
	margin: 0 10px;
}

fieldset textarea:focus {
	outline: none;
	border: 1px solid #77BACE;
	-webkit-box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
	-moz-box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
	box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
}

#fieldsetURL {
	width: 40%;
	float: left;
}

#fieldsetURL input {
	width: 88%;
}

.submit_link {
	float: left;
	margin-left: 2%;
	padding: 5px 0;
}

.submit_link select {
	width: 150px;
	border: 1px solid #bbb;
	height: 20px;
	color: #666666;
}

#main .module_content h1 {
	color: #333333;
	text-transform: none;
	text-shadow: 0 1px 0 #fff;
	font-size: 22px;
	margin: 8px 0px;
}

#main .module_content h2 {
	color: #444444;
	text-transform: none;
	text-shadow: 0 1px 0 #fff;
	font-size: 18px;
	margin: 8px 0px;
}

#main .module_content h3 {
	color: #666666;
	text-transform: uppercase;
	text-shadow: 0 1px 0 #fff;
	font-size: 13px;
	margin: 8px 0px;
}

#main .module_content li {
	line-height: 150%;
}